@{
    ViewData["Title"] = "Select Catalog";
    Console.WriteLine("GRUPURI: "+ViewBag.Groups);
}

<h1>Select Catalog</h1>

<form method="get" asp-controller="EnrolledCourses" asp-action="CatalogResults">
    <div class="form-group">
        <label for="Course">Select Course:</label>
        <select name="courseId" id="Course" class="form-control">
            <option value="">All Courses</option>
            @{
                foreach (var course in ViewBag.Courses as List<SelectListItem>)
                {
                    <option value="@course.Value">@course.Text</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label for="Group">Select Group:</label>
        <select name="groupId" id="Group" class="form-control">
            <option value="">All Groups</option>
            @{
                foreach (var group in ViewBag.Groups as List<SelectListItem>)
                {
                    <option value="@group.Value">@group.Text</option>
                }
            }
        </select>
    </div>

    <input type="submit" value="Show Catalog" class="btn btn-primary" />
</form>
