@{
    ViewData["Title"] = "Home Page";
    string userRole = User?.Claims.FirstOrDefault(claim => claim.Type == "Role")?.Value ?? "Nimic";
  
    
}


<div class="text-center">

    
    
    
        <h1 class="display-4">Welcome : @userRole </h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
</div>
