html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.login-buttons > ul > li {
    margin-left:10px;
    margin-right:10px;
}

#MainStudentCourses > *{
    margin-top:20px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.filterStudentCourses>select{
    margin:0 0 10px 10px;
}

#CertificateForm > div {
    /* This centers the button horizontally */
    margin-bottom: 20px; /* Ensures vertical centering of items in the flex container */
    margin-left: 40%;
}

    #CertificateForm > div > input,
    #CertificateForm > div > select {
        width:50%; /* Adjust if necessary to fit your design */
        
    }


    

   