@model StudentCatalog.Models.CourseModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="course-card">
    <div class="course-header">
        <h1>@Model.Name</h1>
    </div>
    <div class="course-body">
        @if (Model.Teacher == null)
        {
            <p><strong>Teacher:</strong> No Teacher Assigned</p>
        }
        else
        {
            <p><strong>Teacher:</strong> @Model.Teacher.LastName, @Model.Teacher.FirstName</p>
        }
        <p><strong>Course Year:</strong> @Model.YearCourse</p>
    </div>
    <div class="course-actions">
        <a asp-action="Index" class="btn btn-info">Back to All Courses</a>
    </div>
</div>
